<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641964740313-uergsuthigj0gigspvodugl34r7ofn3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641964740313-uergsuthigj0gigspvodugl34r7ofn3c</string>
	<key>API_KEY</key>
	<string>AIzaSyCWgw8i8CcU1yjfmNiY3C-170OqIEfFWC4</string>
	<key>GCM_SENDER_ID</key>
	<string>641964740313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SAI.BloggingMe</string>
	<key>PROJECT_ID</key>
	<string>bloggingme-abe35</string>
	<key>STORAGE_BUCKET</key>
	<string>bloggingme-abe35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641964740313:ios:10274ca9c982bac6f9f8c8</string>
</dict>
</plist>